h1 {
    color: #ff6e00;
    text-align: center;
    font: italic 300% fantasy;
}
div {
    color: #ff6e00;
    text-align: center;
}
.fromDiv {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
table {
    width: 100%;
    height: 500px;
    background-color: black;
}
button.characters {
    background-color: black;
    border: 2px #ff6e00;
    width: 95px;
    height: 110px;
}
h2 {
    color: #ffffff;
    text-align: center;
    font: italic 250% fantasy;
}